@import '../../variables';
@import '../../functions';

#connecting-text {
	width: 100%;
	padding: 10px 0;
	background-color: lighten($background, -10);
	text-align: center;
}

#channels-container {
	display: flex;
	height: calc(100vh - 62px);

	> div {
		height: 100%;
		background-color: $background;
		border: 1px solid black;
		// width: 250px;
	}
}

#channel-messages {
	flex: 2 1 600px;
}

#users-list,
#channels-list {
	flex: 0 1 250px;
}

@media screen and (max-width: 600px) {
	#users-list {
		display: none;
	}
}
