@import './variables';

@font-face {
	font-family: 'Uni Sans';
	src: url('./assets/fonts/uni-sans-heavy.otf');
	font-weight: bolder;
}

@font-face {
	font-family: 'Whitney';
	src: url('./assets/fonts/whitney-medium.otf');
}

* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Whitney sans-serif;
}

body {
	background-color: $background;
}

main {
	padding: 30px;
}

.btn {
	border: none;
	outline: none;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
	font-size: 15px;
	border-radius: 4px;
}
