@import './variables';
@import './functions';

@font-face {
	font-family: 'Uni Sans';
	src: url('./assets/fonts/uni-sans-heavy.otf');
	font-weight: bolder;
}

@font-face {
	font-family: 'Whitney';
	src: url('./assets/fonts/whitney-medium.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney';
	src: url('./assets/fonts/whitney-light.otf');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Whitney, sans-serif;
}

html,
body,
#root {
	height: 100%;
}

body {
	background-color: $background;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	padding: 30px;
}

.btn {
	border: none;
	outline: none;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
	font-size: 15px;
	border-radius: 4px;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.7;
		pointer-events: none;
	}
}

.purple-btn {
	background-color: $important;

	&:hover {
		background-color: lighten($important, -10);
	}

	&:active {
		background-color: lighten($important, -20);
	}
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
