$size: 50px;

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#loading-container {
	position: relative;
	width: 100%;
	height: 100vh;
}

#loading-spinner {
	width: $size;
	height: $size;
	animation: spin 1.3s linear infinite;
	border-radius: 50%;

	// Positioning
	position: absolute;
	$distance: calc(50% - (#{$size} / 2)); // Ah yes, math
	top: $distance;
	left: $distance;

	border: 7px solid rgba($color: #000, $alpha: 0);

	// Filled borders
	$border: 7px solid white;
	border-top: $border;
	border-bottom: $border;
	border-right: $border;
}
